pip install Flask
pip install pandas
pip install numpy
pip install streamlit
pip install scikit-learn
pip install xgboost
pip install plotly
pip install requests
pip install matplotlib
pip install seaborn
